{% load static %}

<!DOCTYPE html> 
<html lang="ja"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>商品{% if product.id %}編集{% else %}作成{% endif %}</title> 
    
   <!-- CSSファイルを読み込み -->
   <link rel="stylesheet" href="{% static 'styles_new.css' %}">
</head>

<body> 
    <div class="container mt-5"> 
      <div class="row justify-content-center"> 
        <div class="col-md-6"> 
          <h2 class="text-center mb-4">商品{% if product.id %}編集{% else %}作成{% endif %}</h2> 
          <!-- 商品フォーム --> 
          <form method="POST" class="bg-light p-4 rounded shadow-sm"> 
         {% csrf_token %} 
         {{ form.as_p }} 
         <div class="d-flex justify-content-between mt-3"> 
         <!-- 保存ボタン --> 
         <button type="submit" class="btn btn-primary">保存</button> 
         <!-- 最初の画面に戻るボタン --> 
         <a href="{% url 'search_view' %}" class="btn btn-secondary">最初の画面に戻る</a> 
       </div> 
       </form> 
      </div> 
     </div> 
    </div> 
  
  </body> 
  </html>